.align-right{
text-align: right;
}

.align-center{
    text-align: center;
    align-items: center;
}

.fit-image{
    width: 176px;
    height: 176px;
    object-fit: cover;
}

.rounded-corner{
    border-radius: 40px;
}

.rounded-corner-thumbnail{
    border-radius: 15px;
}

.img-size{
    width: 610px;
    height: 610px;
}

.thumbnail-size{
    height: 120px;
    width: 120px;
    margin:15px;
}

.padding{
    padding: 20px;
}

.padding-nav{
    padding-left: 120px;
    padding-right: 120px;
}

h3{
    font-family: 'Kumbh Sans', sans-serif;
    color:hsl(26, 100%, 50%);
    font-weight: 900;
    font-size: 24px;
}

h1{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 64px;
}

p{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight:400;
    font-size: 16px;
}

.sale {
	position: relative;
	display: inline-block;
	background: #ffd1ab;
	color:hsl(26, 100%, 50%);
	height: 30px;
	width: 50px;
	text-align: center;
    border-radius:5px;
    font-weight:500;
    padding-top:2px;
    }

p2{
    text-decoration: line-through;
    opacity: 50%;
    font-weight: 500;
}

.gallery{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    margin:0 auto;
}

.gallery a{
    margin: 20px;
    border-radius: 5px;
    overflow:hidden;
}


.cart{
    border: none;
}

.lightbox-img-size{
    height:600px;
    width:600px;
}

.lightbox-thumbnail-size{
    height:100px;
    width:100px;
}


/*CSS For Lightbox*/
.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:hsl(0, 0%, 0%, 0.75)
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width:600px;
    height:600px;
    border-radius: 400px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top:-65px;
    right: 0px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: hsl(26, 100%, 55%);
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
    width:600px;
    height:600px;
    
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    background-color:white;
    font-size: 0px;
    border-radius: 50%;
    height:60px;
    width:60px;
  }
  
/* Position the "next button" to the right */
.next {
  right: -25px;
  border-radius: 50%;
  text-align:  center;
}
/* Position the "next button" to the right */
.prev {
  left: -25px;
  text-align: center;    
}

img.demo {
  opacity: 1;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-opacity:hover {
  opacity: 0.6;
}

.next-pos{
  padding-top:5px;
  padding-left:5px;
}

.prev-pos{
  padding-top:5px;
  padding-right:5px;
}
